*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-size: cover;
    background-position: center;
    place-items: center;
    /* justify-content: center; */
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(14, 1, 1, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(10, 1, 1, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;

}


.tic-tac-toe{
    /* jab bade screen pe chal raha hai toh max-width 20 rem chal rah aur jaise hi screen choti hori ye apne aap ko 90% uss hisab se set kar le rah creating the responsivness */
     width:90%; 
     max-width:20rem;
    background-color: rgba(10, 1, 1, 0.25);
    border-radius:1rem;
    border:1px solid rgba(10, 1, 1, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    aspect-ratio: 1/1;
    transform: translateY(10%);

 } 

.box{
position:relative;
width:100%;
aspect-ratio: 1/1;
cursor:pointer;
font-size: 3rem;
color: white;
display:flex;
align-items:center ;
justify-content: center;
}

.box1,.box2,.box4,.box5{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.box3,.box6{
     border-bottom: 5px solid black;
}
.box7,.box8{
    border-right: 5px solid black;
}

.btn{
    color: white;
    position:absolute;
    bottom:3rem;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(14, 1, 1, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(10, 1, 1, 0.25);
    padding: 0.5rem 2rem;
    /* 0.5 for top and bottom 2 rem for left and right */
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: green;
}